<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="container">
      <div class="form-group col-md-6">
      <%= form.label :nome %>
      <%= form.text_field :nome, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :raca %>
      <%= form.text_field :raca, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :especie %>
      <%= form.text_field :especie, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :sexo %>
      <%= form.text_field :sexo, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :peso %>
      <%= form.text_field :peso, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :data_nascimento %>
      <%= form.text_field :data_nascimento, class:"form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label 'Situação' %>
      <%= form.select :situacao, ['Abandonado', 'Proprietário'], {}, { class:"form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :ong_id %>
      <%= form.select("ong_id", @ong_options, {include_blank: 'Selecione'}, class:"form-control" ) %>
    </div>

    <div class="actions btn">
      <%= form.submit nil, class:"btn" %>
    </div>
  </div>
  </br>
<% end %>
