<%= form_tag(animals_path, method: 'get') do %>
  <div class="row">
    <%= label_tag "Nome do Animal: "%>
    <%= select_tag :id, options_from_collection_for_select(Animal.all.order(:nome),"id","nome"),include_blank: 'Selecione' %>
    <%= label_tag "Situação: "%>
    <%= select_tag :situacao, options_for_select(['Abandonado', 'Propriedade']),  {include_blank:"Selecione..."}%>
    <%= button_tag(value: "commit", type: 'submit', class: "btn btn-primary") do%>
      buscar
    <%end %>
  </div>
<%end %>
<p id="notice"><%= notice %></p>

<h1>Animals</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Raca</th>
      <th>Especie</th>
      <th>Sexo</th>
      <th>Peso</th>
      <th>Data nascimento</th>
      <th>Situacao</th>
      <th>Ong</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.nome %></td>
        <td><%= animal.raca %></td>
        <td><%= animal.especie %></td>
        <td><%= animal.sexo %></td>
        <td><%= animal.peso %></td>
        <td><%= animal.data_nascimento %></td>
        <td><%= animal.situacao %></td>
        <td><%= animal.ong.nome %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path, class:"btn btn-primary" %>
