<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @animal.nome %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @animal.raca %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @animal.especie %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @animal.sexo %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @animal.peso %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @animal.data_nascimento %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @animal.situacao %>
</p>

<p>
  <strong>Ong:</strong>
  <%= @animal.ong %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal), class:"btn btn-primary" %> |
<%= link_to 'Back', animals_path, class:"btn btn-primary" %>
